/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Maname&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

/* @font-face {
  font-family: myFirstFont;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
/* } */
@font-face {
  font-family: mySecondFont;
  src: url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');;;
}

/* homepage */
.home {
  position: relative;
  height: 90vh !important;

}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 1px;
  color: white;
}
.text-content {
  font-size: 58px; /* 48px */
  line-height: 1;
  font-weight: bold;
  margin: 4px;
  /* font-style: italic; */
  font-family: mySecondFont;
}
.sub-content{
  font-family: mySecondFont;
  font-size: 20px;
  margin: 2px;
}
.lower-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 10px;
  font-family: mySecondFont;
}
.bottom-nav {
  font-size: 20px;
  font-family: mySecondFont;
  padding: 4px;
}
.login-signup {
  font-weight: 600;
  color: rgb(51, 231, 231);
  cursor: pointer;
  font-size: 20px;
}


/* login-signup form */


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ecf2f6;
  height: 100% !important;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 30%;
  margin: auto;
  height: auto;
  transition: 0.3s;
  cursor: pointer;
}
.login-form:hover {
  background-color: #f7f7f7;
  border: 2.5px solid #d7d7d7;
  opacity: 2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.form-input {
  border: 2px;
  border-radius: 5px;
  border-color: black;
}
.form-heading {
  font-size: 20px;
  font-weight: 600;
}
