@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

@font-face {
  font-family: mySecondFont;
  src: url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
}


/* homepage */

  .content {
    position: relative;
    cursor: default;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    color: white;
  }
  .text-content {
    font-size: 58px; /* 48px */
    line-height: 1;
    font-weight: bold;
    margin: 4px;
    /* font-style: italic; */
    font-family: mySecondFont;
  }
  .sub-content{
    font-family: mySecondFont;
    font-size: 20px;
    margin: 2px;
  }
  .lower-content {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin: 4px; */
    /* padding: 10px; */
    font-family: mySecondFont;
  }
  .bottom-nav {
    font-size: 20px;
    font-family: mySecondFont;
    padding: 4px;
  }
  .login-signup {
    font-weight: 600;
    color: rgb(92, 164, 235);
    cursor: pointer;
    font-size: 20px;
  }
  
  .start-button{
    /* font-size: 1.25rem ; */
    /* line-height: 1.75rem ; */
    margin-bottom: 1rem;
  }
