@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInFromTop {
    animation: slideInFromTop 3s ease-out backwards;
  }

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    /* border:1px solid rgba(255,255,255) !important; */
    background: rgba(255,255,255, 0.4) !important;
    /* color: white !important; */
}


.signup-box{
    width: 100%;
    height: 91%;
    max-width: 35%;
    max-height: 91%;
    padding-top: 8px;
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0pc;
    border-radius: 20px;
    position: fixed;
}

.label{
    color: white;
    font-style: mySecondFont;
}

.input{
    width: 100%;
    height: 45px;
    /* min-height: 50px; */
    /* line-height: 50px; */
}
.input-login{
  width: 100%;
  height: 52px;
  color: white;
}
.input-desc{
  width: 100%;
    height: 125px;
    line-height: 125px;
    background:rgba(255,255,255, 0.4) !important;
    border-radius: 8px;
}
.submit-button{
    text-align: center;
    margin-left: 36%;
    width: 100px;
    font-size: 16px;
    padding: 6px 2px;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(65, 153, 241);
    border-radius: 4px;
  
  }
.submit-button:hover{
    background-color: white;
    color: rgb(65, 153, 241);
}
.bottom{
    font-weight: 400;
    font-size: 20px;
    padding: 4px;
    margin-top: 6px;
    text-align: center;
    color: white;
}
.bottom-link{
    font-weight: bolder;
    color: rgb(65, 153, 241);
    cursor: pointer;

}


/* home page  */

.main-page {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  